Source: slowmovideo
Section: graphics
Priority: extra
Maintainer: Benoit Rousselle <brousselle@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libavformat-dev, libopencv-dev, libqt4-dev, freeglut3-dev, libglew1.6-dev, libsdl1.2-dev
Standards-Version: 3.9.3
Homepage: http://slowmovideo.granjow.net
#Vcs-Git: git://git.debian.org/collab-maint/slowmovideo.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/slowmovideo.git;a=summary

Package: slowmovideo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: slow-motion videos from your footage
 slowmoVideo is an OpenSource program that creates slow-motion videos 
 from your footage.
 But it does not simply make your videos play at 0.01× speed.
 You can smoothly slow down and speed up your footage,
 optionally with motion blur.

#Package: slowmovideo-doc
#Architecture: all
#Description: documentation for slowmovideo
# <insert long description, indented with spaces>
