[Desktop Entry]
Name=slowmovideo
Comment=Slowmotion Video
TryExec=slowmoUI
Exec=slowmoUI
Icon=/usr/share/slowmovideo/images/AppIcon.png
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=true
OnlyShowIn=GNOME;Unity;
Keywords=Run;

